**build/
**__pycache__/
**_install/
**bd_old/
**obd_dir/
example/primes
example/hello
out*/
.venv/
.vscode/
.devcontainer/
*.o
*.log
cdsl/
dsd_base/
hardware_base/
_install/
*.trace
*.asm
*.etiss_asm
*.pnl.v
